@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: loveloLight;
  src: url(./resources/fonts/Lovelo/Lovelo\ Black.otf) format("opentype");
}

.loveloLightTxt {
  font-family: loveloLight;
}

.latoTxt {
  font-family: "Lato", sans-serif;
}

.white {
  color: white;
}

.paraInv {
  color: white;
  font-size: 1.2rem;
}

.landingSubtitle {
  color: #f3be6c;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

.uppercase {
  text-transform: uppercase;
}

.size_1rem {
  font-size: 1rem;
}

.size_1-1rem {
  font-size: 1.1rem;
}

.bottom_margin_15px {
  margin-bottom: 15px;
}

@media screen and (min-width: 900px) and (max-height: 650px) {
  .landingSubtitle {
    font-size: 0.95em;
  }

  .paraInv {
    font-size: 1.15rem;
  }

  .MuiFormLabel-root {
    font-size: 15px !important;
  }

  .MuiInputBase-root {
    font-size: 15px !important;
  }
}

@media screen and (min-width: 900px) and (max-height: 500px) {
  .landingSubtitle {
    font-size: 0.90em;
  }

  .paraInv {
    font-size: 1rem;
  }

  .MuiFormLabel-root {
    font-size: 13px !important;
  }

  .MuiInputBase-root {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 40em){
  .paraInv {
    font-size: 0.9rem;
  }
}
