.footerContain {
  position: relative;
  bottom: 0px;
  width: 100vw;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #28333E;
  color: white;
}

.footerLogo {
  width:250px;
  padding-bottom: 60px;
  cursor: pointer;
}

.footerInfoRow {
  width: 100%;
  padding-left: 240px;
  padding-right: 240px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footerInfoItem {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footerInfoItemIconContain {
  font-size: 1.4em;
}

.footerInfoItemText {
  font-size: 1.1rem;
  margin: 0px;
  padding-left: 10px;
}

.copyright_info {
  font-size: 0.8rem;
}

.footerSocialsRow {
  display: flex;
  justify-content: center;
  width: 40%;
  font-size: 1.5rem;
  color: #F89D6D;
  margin-top: 50px;
}

.footerSocialsRow svg {
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.footerSocialsRow svg:hover {
  transform: scale(1.1);
}

.footerContain::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 10px;
  background-color: #F3BE6C;
}

@media screen and (min-width: 900px) and (max-height: 650px) {
  .footerContain {
    height: 480px;
  }

  .footerLogo {
    width:220px;
    padding-bottom: 50px;
  }

  .footerInfoRow {
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 8px;
    padding-bottom: 15px;
  }

  .footerInfoItemIconContain {
    font-size: 1.2em;
  }

  .footerSocialsRow {
    font-size: 1.4rem;
  }

  .copyright_info {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 900px) and (max-height: 500px) {
  .footerContain {
    height: 400px;
  }

  .footerLogo {
    width:190px;
    padding-bottom: 45px;
  }

  .footerInfoRow {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .footerInfoItemIconContain {
    font-size: 1.10em;
  }

  .footerSocialsRow {
    font-size: 1.2rem;
  }

  .copyright_info {
    font-size: 0.70rem;
  }
}

@media screen and (max-width: 65em) {
  .footerInfoItem {
    width: 45%;
  }
  .footerInfoRow {
    padding-left: 160px;
    padding-right: 160px;
  }
}

@media screen and (max-width: 52em) {
  .footerInfoRow {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 40em) {
  .footerContain {
    height: 480px;
  }
  .footerLogo {
    width:160px;
  }
  .footerInfoRow {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerSocialsRow {
    width: 42%;
    margin-top: 30px;
  }

  .footerInfoItem {
    width: 80%;
    margin-bottom: 10px;
  }

  .footerInfoItemText {
    font-size: 0.85rem;
  }

  .footerInfoItemIconContain {
    font-size: 0.9em;
  }

  .footerSocialsRow svg {
    margin: 8px;
  }

  .copyright_info {
    font-size: 0.60rem;
  }
}

@media screen and (min-width: 1800px) and (min-height: 1000px) {
  .footerLogo {
    width:300px;
  }
  .footerInfoItemIconContain {
    font-size: 1.7em;
  }
  
  .footerInfoItemText {
    font-size: 1.3rem;
  }

  .footerSocialsRow {
    font-size: 2rem;
  }

  .copyright_info {
    font-size: 1.1rem;
  }
}