.iconRowContain {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
}

.iconItemContain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 50px;
}

.iconImg {
  width: 80px;
}

.iconDesc {
  position: relative;
  transform: translateX(25px);
}

.iconDesc::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 18px;
  width: 18px;
  background-color: #F3BE6C;
  border-radius: 2px;
  transform: translateX(-25px) rotate(45deg) ;
}

@media screen and (min-width: 900px) and (max-height: 650px) {
  .iconImg {
    width: 70px;
  }
}

@media screen and (min-width: 900px) and (max-height: 500px) {
  .iconImg {
    width: 60px;
  }
}

@media screen and (max-width: 40em) {
  .iconImg {
    width: 50px;
  }

  .iconDesc {
    font-size: 0.9rem;
  }
}

