.carH3 {
  font-size: 1.8rem;
}

@media screen and (max-width: 900px) and (min-height: 650px) {
  .carH3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 900px) and (min-height: 500px) {
  .carH3 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 40em){
  .carH3 {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1800px) and (min-height: 1000px) {
  .carH3 {
    font-size: 2rem;
  }
}